extends layout

block content
    h1= title

    p
        | This is a test app for donde neo4j 
        .

    p.
        This app is a simple social network manager: it lets you add and remove
        users and items.

    p
        strong
            | Get started:&nbsp;
    p
            a(href='/users') View all users
            a(href='/items') View all items
            a(href='/item_properties') View all item properties
